<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/head'); %>
        <title><%= title %></title>
    </head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>
        <main>
            <ul>
                <li>05 54 62 16 85</li>
                <li>01 60 82 62 65</li>
            </ul>
                <p>See you soon</p>
        </main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

